<form action="/list" method="POST">
    <input type="hidden" name="sMethod" value="list"/>
    <input type="hidden" name="sAuth" value="api"/>
    <input type="text" name="sApiKey" placeholder="Api key"/>
    <button type="submit">List users</button>
</form>