<form action="/delete" method="POST">
    <input type="hidden" name="sAuth" value="api"/>
    <input type="hidden" name="sMethod" value="delete"/>
    <input type="text" name="iUserId" placeholder="user id"/>
    <input type="text" name="sApiKey" placeholder="Api key"/>
    <button type="submit">Delete</button>
</form>