<form action="/login" method="POST">
    <input type="hidden" name="sMethod" value="login"/>
    <input type="text" name="sEmail" placeholder="email"/>
    <input type="password" name="sPassword" placeholder="pass"/>
    <button type="submit">Log In</button>
</form>