<form action="/details" method="POST">

    <input type="hidden" name="sMethod" value="details"/>
    <input type="hidden" name="sAuth" value="api"/>
    <input type="text" name="sApiKey" placeholder="Api key"/>
    <input type="text" name="iUserId" placeholder="User id"/>
    <button type="submit">Give details</button>
</form>