<form action="/add" method="POST">
    <input type="hidden" name="sMethod" value="add"/>
    <input type="text" name="sEmail" placeholder="email"/>
    <input type="text" name="sName" placeholder="name"/>
    <input type="password" name="sPassword" placeholder="pass"/>
    <button type="submit">Add User</button>
</form>