<form action="/update" method="POST">
    <input type="hidden" name="sMethod" value="update"/>
    <input type="hidden" name="sAuth" value="login"/>
    <input type="text" name="sName" placeholder="name"/>
    <input type="password" name="sPassword" placeholder="pass"/>
    <button type="submit">Update</button>
</form>